<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{% block title %}{% endblock %}</title>
   {% load static %}
   <link rel="stylesheet" href = " {% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="base.css">

</head>
<body>
    
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #93B5C6;">
    <div class="container-fluid">
      <a class="navbar-brand" href="./index.html"><img src="logo.png" alt="" height="70px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Favorite</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="./shoes.html">Shoes</a></li>
              <li><a class="dropdown-item" href="#">Clothing</a></li>
              <li><a class="dropdown-item" href="#">Bags</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./signin.html">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./signup.html">Sign up</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>
<img src="https://c8.alamy.com/comp/2J783F6/mlb-clothing-store-seen-open-in-changzhou-photo-by-sheldon-cooper-sopa-imagessipa-usa-2J783F6.jpg" alt="">
<br>
<h3 style="text-align: center;">BEST SELLER OF THE MONTH</h3>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 text-center">
      <a href="#" style="text-decoration: none;"><img src="https://bizweb.dktcdn.net/thumb/1024x1024/100/294/644/products/mlb-viet-nam-bomber-monogram-diamond-premium-padded-baseball-jumber-new-york-yankees-front-3ajp12016-50bgd.png?v=1639126983507" alt="" class= "w-100">>
      <span class="text-black" style="height: 55px;"><b> MLB BOMBER MONOGRAM </b></span><br> <br>
      <span class="text-black"> 1 690 000 VND</span>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 text-center ">
      <a href="#" style="text-decoration:none;"> <img src="https://bizweb.dktcdn.net/100/294/644/products/mlb-monogram-rainbow-hobo-bag-new-york-yankees-black-3abqs021n-50bks-2.jpg?v=1640485904570" alt="" class= "w-100">
      <span class="text-black" style="height: 55px;"><b>MLB MONOGRAM RAINBOW HOBO BAG </b></span><br>
      <span class="text-black">2 565 000 VND </span>
      </a>
    </div><div class="col-lg-3 col-md-6 text-center ">
      <a href="#" style="text-decoration:none;"> <img src="https://bizweb.dktcdn.net/thumb/1024x1024/100/294/644/products/ao-thun-t-shirt-mlb-viet-nam-x-disney-overfit-short-sleeve-new-york-yankees-black-31tsk3031-50l-1.jpg?v=1639913912300" alt="" class= "w-100">
      <span class="text-black" style="height: 55px;"><b>MLB x DISNEY T-SHIRT </b></span><br><br>
      <span class="text-black">1 290 000 VND </span>
      </a>
    </div><div class="col-lg-3 col-md-6 text-center ">
      <a href="#" style="text-decoration:none;"> <img src="https://bizweb.dktcdn.net/thumb/1024x1024/100/294/644/products/ao-hoodie-mlb-viet-nam-mega-bear-back-brushed-overfit-new-york-yankees-sand-3ahde5216-50sas-3.jpg?v=1640083680263" alt="" class= "w-100">
        <span class="text-black" style="height: 55px;"><b>MLB HOODIE MEGA BEAR BACK</b></span><br><br>
        <span class="text-black">2 100 000 VND </span>
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 text-center ">
      <a href="./MLBBIGBALLCHUNKY.html" style="text-decoration:none;"> <img src="https://bizweb.dktcdn.net/thumb/grande/100/294/644/products/mlb-bigball-chunky-p-boston-red-sox-white-red-32shc2111-43i-0.jpg" alt="" class= "w-100">

      <span class="text-black" style="height: 55px;"><b>MLB BIGBALL CHUNKY</b></span><br><br>
      <span class="text-black"> 2 299 000 VND </span>
      </a>
    </div>
    <div class="col-lg-3 col-md-6 text-center ">
      <a href="#" style="text-decoration:none;"> <img src="https://bizweb.dktcdn.net/thumb/grande/100/294/644/products/mlb-playball-mule-monogram-new-york-yankees-black-32shsm111-50l-1.jpg" alt="" class= "w-100">
      <span class="text-black" style="height: 55px;"><b>MLB PLAYBALL MULE MONOGRAM </b></span><br>
      <span class="text-black">1 790000 VND </span>
      </a>
    </div><div class="col-lg-3 col-md-6 text-center ">
      <a href="#" style="text-decoration:none;"> <img src="https://bizweb.dktcdn.net/thumb/grande/100/294/644/products/mlb-playball-origins-new-york-yankees-black-32shp1111-50l-1.jpg" alt="" class= "w-100">
      <span class="text-black" style="height: 55px;"><b>MLB PLAYBALL ORIGINS BLACK </b></span><br> <br>
      <span class="text-black">1 599 000 VND </span>
      </a>
    </div><div class="col-lg-3 col-md-6 text-center ">
      <a href="#" style="text-decoration:none;"> <img src="https://bizweb.dktcdn.net/100/294/644/products/mlb-playball-mule-mono-denim-new-york-yankees-navy-white-32shsd111-50u-1.jpg?v=1626144266010" alt="" class= "w-100">
      <span class="text-black" style="height: 55px;"><b>MLB PLAYBALL MULE MONO DENIM</b></span><br>
      <span class="text-black">1 899 000 VND </span>
      </a>
    </div>
  </div>
</div>
<br>
<br>
<div class="bg-secondary w-100">
  <div class="container bg-secondary p-5">
    <h3 class="my-5 text-center">RECOMMEND</h3>
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <a href="#" style="text-decoration: none;"><img src="https://bizweb.dktcdn.net/100/294/644/products/mlb-monogram-jacquard-crossbody-bag-new-york-yankees-brown-3acrm041n-50bgs-2.jpg?v=1640399372597" alt="" class= "w-100">>
        <span class="text-black" style="height: 55px;"><b> MLB MONOGRAM JACQUARD CROSSBODY </b></span><br> 
        <span class="text-black"> 1 200 000 VND</span>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 text-center ">
        <a href="#" style="text-decoration:none;"> <img src="https://bizweb.dktcdn.net/100/294/644/products/mlb-bigball-chunky-a-new-york-yankees-white-32shc1111-50i-1.jpg?v=1625978972517v" alt="" class= "w-100">
        <span class="text-black" style="height: 55px;"><b>MLB BIGBALL CHUNKY</b></span><br> <br>
        <span class="text-black">2 199 000 VND </span>
        </a>
      </div><div class="col-lg-3 col-md-6 text-center ">
        <a href="#" style="text-decoration:none;"> <img src="https://bizweb.dktcdn.net/100/294/644/products/mlb-new-mound-monogram-new-york-yankees-white-32shhm111-50w-00008.jpg?v=1627973115707" alt="" class= "w-100">
        <span class="text-black" style="height: 55px;"><b>MLB NEW MOUND MONOGRAM </b></span><br><br>
        <span class="text-black">1 599 000 VND </span>
        </a>
      </div><div class="col-lg-3 col-md-6 text-center ">
        <a href="#" style="text-decoration:none;"> <img src="https://bizweb.dktcdn.net/100/294/644/products/mlb-viet-nam-bomber-basic-padded-megalogo-woven-baseball-jumber-new-york-yankees-black-3ajp21016-50bks-3.jpg?v=1639212878707" alt="" class= "w-100">
          <span class="text-black" style="height: 55px;"><b>MLB BOMBER BASIC PADDED</b></span><br><br>
          <span class="text-black">5 999 000 VND </span>
        </a>
      </div>
    </div>
  </div>
</div>
<br>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 col-lg-3 col-md-6 text-center">
      <a href="./index.html"><img src="./logo.png" alt=""></a>
    </div>
    <div class="col-6 col-lg-3 col-md-6">
      <a href="./about.html" style="text-decoration: none" class="text-black">About</a>
      <br><a href="#"style="text-decoration: none" class="text-black">Favorite</a>
      <br><a href="#"style="text-decoration: none" class="text-black">Items</a>
      <br><a href="./signin.html"style="text-decoration: none" class="text-black">Sign in</a>
      <br><a href="./signup.html"style="text-decoration: none" class="text-black">Sign up</a>
    </div>
    <div class="col-lg-3 col-md-6  " align="center">
      <h5>Contact:</h5>
      <a href="https://www.instagram.com/?hl=vi"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Instagram_simple_icon.svg/1200px-Instagram_simple_icon.svg.png" alt="" height="40px"></a>
      <a href="www.facebook.com"><img src="https://cdn-icons-png.flaticon.com/512/59/59439.png" alt="" height="40px"></a>
      <a href="www.youtube.com"><img src="https://cdn-icons-png.flaticon.com/512/152/152810.png" alt="" height="40px"></a>

    </div>
    <div class="col-lg-3 col-md-6 text-center map ">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62698.941616704!2d106.6314732255377!3d10.835488376439933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529078b51e6eb%3A0x28bd5bd9f01a1edc!2zR8OyIFbhuqVwLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1641389302317!5m2!1svi!2s" width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>
  
</body>
</html>