<!DOCTYPE html> 
<html lang="en">
<head> 
    <meta http-equiv="X-UA-Compatible" content="IE-edge"> 
    <meta name="viewport" content="width-device-width, initial-scale-1.8"> 
    <meta charset="UTF-8"> <title>Todo-List</title> 
</head> 
<body>
    <h1>Add member</h1> 
    <form action" addrecord/" method="post"> 
        (% csrf_token %) 
        Ten_hs:<br> 
        <input name="Ten">
        <br><br> Tên học sinh: Khánh 
        <br><br> 18 <input type-"submit" value-"Add"> 
    </form>
</body>
</html>
